  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Limelight%7CFlamenco%7CFedero%7CYesteryear%7CJosefin+Sans%7CSpinnaker%7CSansita+One%7CHandlee%7CDroid+Sans%7COswald:400,300,700"
    media="screen" rel="stylesheet" type="text/css" />
    <link href="bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css"
    />
    <link href="fontawesome.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="style.css" media="screen" rel="stylesheet" type="text/css" />
    <title>EC521 TEAM2 LAB</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36745869-1']);
  _gaq.push(['_setDomainName', 'hacktenberg.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>	
  </head>
