<!DOCTYPE HTML>
<html lang="en">
  
  <%= erb :_head%>   
  
  <!-- Top RED BAR -->
  <body>
	<%= erb :_top_bar%>   

  	<!-- Name  -->
	<div class="container spaced">
      <div class="row-fluid">
            <span class="span12">
			
      <h1 class="title"><%= @title %></h1>
			<br/><br/>
			<p class="instruction"><b><%= @body %></b></p><br/>
			<p class="instruction">Return To You Challenge Below</p>
        <br/>
		<a href="/#server_side_include" class="btn btn-1" style="background-color:black;">Server Side Include</a><br/><br/>
			</span>
		<a href="/#hidden_files" class="btn btn-1" style="background-color: goldenrod;">Hidden Files</a><br/><br/>
        <a href="/#sqli" class="btn btn-1" style="background-color:#ff7f00;">SQLI</a><br/><br/>
		<a href="/#xss" class="btn btn-1" style="background-color: red; ">XSS</a><br/><br/>
		<a href="/#fileupload" class="btn btn-1" style="background-color: brown;">File Upload</a><br/><br/>
	  </div>
    </div>
  </body>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</html>
